# config files
*.env
*.local

# compiled output
dist
dist-ssr
node_modules

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
desktop.ini

# Tests
coverage/
.nyc_output

# IDEs and editors
.idea/
.settings/
.vscode/
